  <style>
   

    .footer-container{
      margin-top:50px;
      background-color:rgb(42, 68, 68);
      color:white
    }
  </style>
  
  
  <footer class="py-5 footer-container">
      <div class="container-lg ">
        <div class="row">

          <div class="col-md-3 col-sm-6">
            <div class="footer-menu">
              <h4 class="widget-title">Quality save</h4>
             
              Quality and save (Innovative Retail Concepts Private Limited) is 
India’s largest online food and grocery store
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="footer-menu">
              <h5 class="widget-title">Quick Links</h5>
              <ul class="menu-list list-unstyled">
               
                <li class="menu-item">
                  <a href="#" class="nav-link">Shop</a>
                </li>
                <li class="menu-item">
                  <a href="#" class="nav-link">categories</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="footer-menu">
              <h5 class="widget-title">Customer Service</h5>
              <ul class="menu-list list-unstyled">
                <li class="menu-item">
                  <a href="/about-us" class="nav-link">About Us</a>
                </li>
                
                <li class="menu-item">
                  <a href="/privacy-polycy" class="nav-link">Privacy Policy</a>
                </li>
                <li class="menu-item">
                  <a href="/terms-conditions" class="nav-link">Terms & Conditiond</a>
                </li>
              
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer-menu">
              <h5 class="widget-title">Contact Address</h5>
              <h6>
Quality Save Private Limited
              </h6>
              <p>




Perunguzhi,
Near noorul Islam Thaykkavu,Chirayinkeezhu, 
  Trivandrum, Kerala 695305


</p>
              {{!-- <form class="d-flex mt-3 gap-0" action="index.html">
                <input class="form-control rounded-start rounded-0 bg-light" type="email" placeholder="Email Address" aria-label="Email Address">
                <button class="btn btn-dark rounded-end rounded-0" type="submit">Subscribe</button>
              </form> --}}
            </div>
          </div>
          
        </div>
      </div>
    <div id="footer-bottom">
      <div class="container-lg mt-2">
        <div class="row">
          <div class="col-md-6 copyright">
            <p>© 2024 Organic. All rights reserved.</p>
          </div>
          <div class="col-md-6 credit-link text-start text-md-end">
            <p>HTML Template by <a href="https://templatesjungle.com/">TemplatesJungle</a> Distributed By <a href="https://themewagon.com">ThemeWagon</a> </p>
          </div>
        </div>
      </div>
    </div>

    
    </footer>

    
    <script src="
https://cdn.jsdelivr.net/npm/cropperjs@2.0.0/dist/cropper.min.js
"></script>