 
 <style>
 body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fafbfc;
    color: #333;
  }
a{
    text-decoration: none;
}
  .main-container {
    display: flex;
    max-width: 1200px;
    margin: 30px auto;
    gap: 25px;
  }

  .left-panel {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .sidebar-header {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    height: 100px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  }

  .sidebar-header h6 {
    margin-top: 10px;
    font-weight: 600;
    color: #1e918b;
  }

  .sidebar {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
    flex: 1;
  }

  .sidebar-title {
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: #979797;
    margin-bottom: 8px;
  }

  ul { list-style: none; padding-left: 0; }

  .sidebar-item {
    padding: 10px 0;
    font-size: 15px;
  }

  .sidebar-item a {
    color: #555;
    transition: 0.3s;
    display: block;
  }

  .sidebar-item a:hover {
    color: #1e918b;
  }

  .sidebar i {
    color: #1e918b;
  }

 
</style>

 
 
 
 <div class="left-panel">
    <div class="sidebar-header">
      Hi,
      <h6>Customer</h6>
    </div>
    <aside class="sidebar">
      <div class="sidebar-title"><i class="fa-solid fa-user me-3"></i>Account Settings</div>
      <ul>
        <li class="sidebar-item"><a href="/user-profile">Personal Info</a></li>
        <li class="sidebar-item"><a href="/manage-address">Manage Addresses</a></li>
      </ul>
      <hr>
      <div class="sidebar-title"><i class="fa-solid fa-wallet me-3"></i>Wallet</div>
      <ul>
        <li class="sidebar-item"><a href="#">My wallet</a></li>
        <li class="sidebar-item"><a href="#">WalletTransaction</a></li>
      </ul>
      <hr>
        <div class="sidebar-title"><i class="fa-solid fa-clipboard-user me-3"></i>My Stuff</div>
         <ul>
          
        <li class="sidebar-item"><a href="/my-orders">My orders</a></li>
        <li class="sidebar-item"><a href="#">my wishlist</a></li>
      </ul>
      <hr>
      <div class="sidebar-title"><i class="fa-solid fa-right-from-bracket me-3"></i>Logout</div>
    </aside>
  </div>