
<link rel="stylesheet" href="/css/adminstyle.css">

<div class="container">
    <div class="form-container" id="login-form">
      <h1>Admin Login</h1>
      <form action="/admin/login" method="post">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
      </form>
    
    </div>

   
  </div>