 {{> admin-header }}
 <div class="main-content text-center" id="mainContent">
    <h1>Error Page</h1>
    <p>error occured while loding admin page.</p>
    <button class="btn btn-primary">Go to Home</button>
  </div>
  {{> admin-foote }}