
{{> admin-header }}
 <div class="main-content " id="mainContent">
    <h3>Edit Category</h3>
<div class="container mt-4">
 <form onsubmit="return editCategory('{{category._id}}')">
    <div class="row">
      <div class="col-md-6"> 
        <div class="mb-3">
          <label for="nameex" class="form-label">Name</label>
          <input type="text" class="form-control" id="nameex" name="name" value="{{category.name}}"  required>
        </div>

        <div class="mb-3">
          <label for="inputdescription" class="form-label">Description</label>
          <textarea class="form-control" id="inputdescription" name="description" required>{{category.description}}</textarea>
        </div>

        <div class="mb-3">
          <label for="inputofferPrice" class="form-label">Offer price in Percentage</label>
          <input type="number" class="form-control" id="inputofferPrice" name="offerprice" value="{{category.categoryoffer}}">
        </div>

        <button type="submit" class="btn btn-success" >Save Changes</button>
      </div>
    </div>
  </form>
</div>
</div>
<script>

function editCategory(id) {
  event.preventDefault();  // prevent form submit

  const name = document.getElementById('nameex').value;
  const description = document.getElementById('inputdescription').value;
  const offerprice = document.getElementById('inputofferPrice').value;

  $.ajax({
    url: `/admin/category/${id}`,
    method: "PUT",
    contentType: "application/json",
    data: JSON.stringify({ name, description, offerprice }),
    success: function (data) {
      Swal.fire({
        title: "Updated",
        text: data.message || "Category updated successfully.",
        icon: "success",
        confirmButtonText: "OK"
      }).then(() => {
        window.location.href = "/admin/category";
      });
    },
    error: function (err) {
      Swal.fire({
        title: "Error!",
        text: err.responseJSON?.error || "Something went wrong.",
        icon: "error",
        confirmButtonText: "OK"
      });
    }
  });

  return false; // prevent form submit
}



</script>



{{> admin-foote }}

