{{> headr }}


<div class="container my-5">
  <div class="text-center py-5 border rounded shadow-sm bg-light">
    <img src="https://cdn-icons-png.flaticon.com/512/2748/2748558.png" alt="No Results" width="100" class="mb-4">
    <h3 class="text-danger">Sorry, no results found!</h3>
    <p class="text-muted">We couldn’t find any products matching your search.</p>
    <a href="/shop" class="btn btn-outline-primary mt-3">
      <i class="bi bi-arrow-left-circle"></i> Go Back to Shop
    </a>
  </div>
</div>
{{> foote }}
