{{> headr}}


<div class="main-container">
      {{>profilesidebar}}

<div class="container my-5">
  

  <h2 class="mb-4 text-center">My Wallet</h2>

  <!-- Wallet Balance Card -->

  <div class="card text-center mb-4 shadow-sm">
    <div class="card-body">
      <h5 class="card-title">Wallet Balance</h5>
      <h1 class="display-4 text-success">₹{{user.wallet}}</h1>
    </div>
  </div>


  <!-- Action Buttons -->
  <div class="d-flex justify-content-center gap-3 mb-5">
    <button class="btn btn-primary">Add Money</button>
    <button class="btn btn-outline-danger">Withdraw</button>
  </div>


  

</div>
</div>