<!-- Footer (optional) -->
{{!--
<div class="footer text-center py-4">
  <p>&copy; 2025 Company Name. All Rights Reserved.</p>
</div>
--}}

<!-- Bootstrap JS Bundle -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.19.1/dist/sweetalert2.all.min.js"></script>



<!-- Sidebar Toggle Script -->
<script>

    document.addEventListener('DOMContentLoaded', () => {
    const links = document.querySelectorAll('.sidebar-link');
    const currentPath = window.location.pathname;

    links.forEach(link => {
      if (link.getAttribute('href') === currentPath) {
        link.classList.add('active');
      }
      else {
        link.classList.remove('active');
      }
    });
  });
    document.addEventListener('DOMContentLoaded', () => {
      const sidebar = document.getElementById('sidebar');
      const mainContent = document.getElementById('mainContent');
      const navbar = document.querySelector('.navbar');
      const toggleBtn = document.getElementById('sidebarToggle');

      toggleBtn.addEventListener('click', () => {
        sidebar.classList.toggle('collapsed');
        mainContent.classList.toggle('full');
        navbar.classList.toggle('collapsed');
      });

      const dropdown = document.getElementById('customDropdown');
      const button = dropdown.querySelector('.dropdown-button');

      button.addEventListener('click', () => {
        dropdown.classList.toggle('show');
      });

      window.addEventListener('click', (e) => {
        if (!dropdown.contains(e.target)) {
          dropdown.classList.remove('show');
        }
      });
    });
  </script>

</body>
</html>
